@import "../../vars.scss";

.main_menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100vw;
    height: 100px;
    font-size: 20px;
    align-items: center;
    background-color: var(--color-opacity-black);

    .logo {
        margin-left: var(--margin-side);
        display: flex;
        justify-content: space-between;
        gap: 12px;
        align-items: center;
    }

    a {
        margin-right: var(--margin-side);
        text-decoration: none;
        color: var(--color-white);
        align-self: center;
    }
    
    .main_logo {
        
        font-size: 40px;
        color: var(--color-orange);
        margin-top: -8px;
    }

}
.burger {
    display: none;
}
.left_menu {
    display: flex;
    list-style: none;
}

@media screen and (max-width: 1500px) {
    .burger {
        display: block;
        position: absolute;
        right: 60px;
        top: 35px;
        cursor: pointer;
        z-index: 10;
    }

    .left_menu {
        flex-direction: column;
        align-items: center;
        position: fixed;
        gap: 30px;
        margin: 0;
        right: -100%;
        top: 100px;
        bottom: 0;
        width: 100%;
        height: 300px;
        padding: 0;
        background-color: var(--color-opacity-black);
        transition: right 1s;
    }

    .active {
        right: 0;
    }
}

@media screen and (max-width: 1200px) {
        /* На устройства 1024px*/
        .burger {
            right: 15px;
        }
        .main_menu {
            .logo {
                margin-left: 15px;
            }
        }
}

@media screen and (max-width: 1010px) {

    /* На устройства 768px*/
}

@media screen and (max-width: 754px) {
    /* На устройства 480px*/

    .main_menu {
        .main_logo {
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 450px) {
    /* На устройства 324px*/
}