.form {
    display: flex;
    flex-direction: column;
    width: 400px;


    .input {
        background-color: #11152A;
        border: 2px solid #D2743F;
        padding: 10px;
        margin: 10px;
        color: #fff;
        font-size: 18px;
    }

    .fieldLabel {
        text-align: center;
        font-size: 20px;
    }
}