@import "../../vars.scss";

.form {
    display: flex;
    flex-direction: column;
    width: 400px;


    .input {
        background-color: var(--color-blue);
        border: var(--border);
        padding: 10px;
        margin: 10px;
        color: var(--color-white);
        font-size: 18px;
    }

    .fieldLabel {
        text-align: center;
        font-size: 20px;
    }
}