.content {
    max-width: 1124px;
    margin: 50px 0;

    .picture {
        width: 100%;
        height: 100%;
    }
    .heading {
        font-size: 30px;
        font-weight: 400;
        color: var(--color-orange);
    }

}

 @media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
        /* На устройства 1024px*/
}

@media screen and (max-width: 1010px) {

    /* На устройства 768px*/
}

@media screen and (max-width: 754px) {
    /* На устройства 480px*/
    .text {
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    /* На устройства 324px*/
}