.error_title {
    display: block;

 &.has_error {
    color: red;
 }
 &.no_error {
    display: none;
 }
}

.back_button {
   display: inline-block;
   margin-top: 50px;
   color: var(--color-white);
   text-decoration: none;
   font-size: 20px;
   padding: 20px;

   border: var(--border);
}

.auth_wrapper {
   height: 1000px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 1124px;

   .auth_btn {
      padding: 20px;
      width: 380px;
      background-color: var(--color-blue);
      border: var(--border);
      color: var(--color-orange);
      font-size: 25px;
      margin-top: 30px;
      cursor: pointer;
      font-family: var(--font-family-space);
   }

}