.error_title {
    display: block;

 &.has_error {
    color: red;
 }
 &.no_error {
    display: none;
 }
}

.back_button {
   display: inline-block;
   margin-top: 50px;
   color: #fff;
   text-decoration: none;
   font-size: 20px;
   padding: 20px;

   border: #D2743F 2px solid;
}

.auth_wrapper {
   height: 1000px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 1124px;

   .auth_btn {
      padding: 20px;
      width: 380px;
      background-color: #11152A;
      border: #fff 2px solid;
      color: #D2743F;
      font-size: 25px;
      margin-top: 30px;
      cursor: pointer;
      font-family: 'Space Mono';
   }

}