.main_wrapper {
    display: grid;
    grid-template-rows: 100px auto 100px;
    align-items: center;
    height: 100%;
    font-family: 'Space Mono';
    .content_wrapper {
      margin: auto;
    }
  }
  