.mainWrapper {
    display: grid;
    grid-template-rows: 100px auto 100px;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
    font-family: var(--font-family-space);
    .contentWrapper {
      margin: auto;
    }
  }

  @media screen and (max-width: 1200px) {
    /* На устройства 1024px*/
    .mainWrapper {
      .contentWrapper {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
}

@media screen and (max-width: 754px) {
  /* На устройства 480px*/
  p {
    font-size: 20px;
  }
}
  