:root {
    --color-white: #fff;
    --color-orange: #D2743F;
    --color-blue: #11152A;
    --color-opacity-black: rgba(0, 0, 0, 0.208);

    --margin-side: 60px;

    --border: #D2743F 2px solid;
    



    --font-family-space: 'Space Mono';
    --font-family-ubuntu: 'Ubuntu';

    --text-upercase: uppercase;
    --text-normal: none;
    --text-link: 20px;

    --header-big: 55px;
    --header-medium: 45px;
    --header-weight: 400;

    --fonr-size-regular: 25px;
    --font-size-regular-mobile: 20px;

    --heading-big-mobile: 45px;
    --heading-medium-mobile: 35px;

}