.main_page {
    color: #D2743F;
    background-image:linear-gradient( to right, rgba(17, 21, 42, 1) 120px, rgba(255, 255, 255, 0)),  url("./[removal\ 1\ \(9\).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;

}

h1 {
    font-size: 230px;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    margin: 0;
}

.main_btn {
    background-color: #11152A;
    border: 2px #D2743F solid;
    color: #fff;
    font-size: 20px;
    padding: 15px 0px;
    margin: 50px auto;
    display: block;
    font-family: 'Space mono';
    width: 350px;
    text-decoration: none;
    text-align: center;

}