.main_page {
    color: var(--color-orange);
    background-image:linear-gradient( to right, rgba(17, 21, 42, 1) 120px, rgba(255, 255, 255, 0)),  url("../../images/mainInfo/planet.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;

}

h1 {
    font-size: 230px;
    font-family: var(--font-family-ubuntu);
    text-transform: uppercase;
    margin: 0;
}

.main_btn {
    background-color: var(--color-blue);
    border: var(--border);
    color: var(--color-white);
    font-size: 20px;
    padding: 15px 0px;
    margin: 50px auto;
    display: block;
    font-family: var(--font-family-space);
    width: 350px;
    text-decoration: none;
    text-align: center;

}