.main_page {
    color: #D2743F;
    background-image:linear-gradient( to right, rgba(17, 21, 42, 1) 120px, rgba(255, 255, 255, 0)),  url("./[removal\ 1\ \(4\).png");

    background-size: cover;

}

h1 {
    font-size: 250px;
}