.header {
    text-align: center;

}

.block,
.blockReverse {
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto;
    gap: 50px;
    .textBlock {
        max-width: 530px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .link {
            font-size: var(--text-link);
            text-decoration: none;
            color: var(--color-white);
            padding: 10px 20px;
            width: 220px;
            border: var(--border);
        }

    }

    .posterImg img {
        width: 100%;
        height: 100%;
        object-fit: contain;

    }

}

@media screen and (max-width: 1680px) {
    .block {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 1200px) {
        /* На устройства 1024px*/

}

@media screen and (max-width: 1010px) {

    /* На устройства 768px*/
    .block {
        display: flex;
        flex-direction: column;
    }
    .blockReverse {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 754px) {
    /* На устройства 480px*/
}

@media screen and (max-width: 450px) {
    /* На устройства 324px*/
}