.header {
    text-align: center;
    font-size: var(--header-big);
    font-family: var(--font-family-space);
    color: var(--color-orange);
    text-transform: var(--text-normal);
    font-weight: var(--header-weight);
}

.block {
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    margin: 120px auto;
    gap: 50px;
    .textBlock {
        max-width: 530px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
            font-size: var(--header-medium);
            color: var(--color-orange);
            font-weight: var(--header-weight);
        }
        p {
            font-size: var(--fonr-size-regular);
        }
        .link {
            font-size: var(--text-link);
            text-decoration: none;
            color: var(--color-white);
            padding: 10px 20px;
            width: 220px;
            border: var(--border);
        }
    }

}