.footer {
    display: flex;
    justify-content: end;
    gap: 40px;
    padding-right: 60px;
    background-color: rgba(0, 0, 0, 0.208);
    align-items: center;
    padding-top: 20px;
    a {
        cursor: pointer;
    }
}