.footer {
    display: flex;
    justify-content: end;
    gap: 40px;
    padding-right: var(--margin-side);
    background-color: var(--color-opacity-black);
    align-items: center;
    padding-top: 20px;
    a {
        cursor: pointer;
    }
}

.footerMobile {
    display: none;
}

@media screen and (max-width: 754px) {
/* На устройства 480px*/

.footerMobile {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--color-opacity-black);
    height: 70px;
}

.footer {
    display: none;
}

}